@model IEnumerable<BoxProblem.Data.BoxInventory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <div class="row"></div>
    <div class="col" style="background-color:deepskyblue;font-size:48px; color: aliceblue">Out-of-the-Box Boxing</div>
    <title>Out-of-the-Box Boxing</title>
</head>
<body>
    <div class="row">
        <div id="tabs" class="col-lg-2">
            <div id="app">
                <input v-model="inputValue" v-on:keyup="conversion" />
            </div>
        </div>
        <div class="col-lg-2">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Weight)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Volume)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CanHoldLiquid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InventoryCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <div class="row">
                        <div id="tabs" class="col-lg-2">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Weight)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Volume)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CanHoldLiquid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InventoryCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            inputValue: "",
            outputValue: ""
        },
        methods: {
            conversion: function () {
               
            }
        }
    })
</script>
